{% extends 'shop_app/base.html' %}
{% load static %}

{% block content %}
<section class="container py-4">
    <h1 class="">Shop Front Page</h1>


    <div>
        <div class="d-flex justify-content-center py-5">
            <img src="{% static 'shop_app/images/work.png' %}" class="img-down col-12 col-md-6 col-xl-7" alt=""
                srcset="">
        </div>
        <p class="text-center fst-italic">[ Shop under construction... come back soon ]</p>
    </div>

</section>




{% endblock content %}
